<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :process %>
    <%= form.select :process, Order::PROCESSES %>
  </div>

  <div class="field">
    <%= form.label :coin %>
    <%= form.select :coin_id, Coin.order(:symbol).map { |c| [c.symbol, c.id] } %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :price_currency %>
  </div>

  <div class="field">
    <%= form.label :exchange %>
    <%= form.text_field :exchange %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
